<div class="demo-drawer mdl-layout__drawer mdl-color-text--blue-grey-50 mdl-color--grey-900">
  <header class="mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

    <div class="brand-logo">
      <div class="logo">
        <div class="foot1"></div>
        <div class="foot2"></div>
        <div class="foot3"></div>
        <div class="foot4"></div>
        <div class="foot5"></div>
      </div>
    </div>

    <div class="clear">
      <div class="f-left m-l-30 m-r-10">
        <img src="img/icons/ballicons/workspace.svg" class="demo-avatar img-responsive">
      </div>
      <div class="f-left">
        <h4 class="mdl-color-text--white m-t-5 no-m-b">User</h4>
        <div class="mdl-color-text--blue-grey-400 f12"><i class=" material-icons f12">place</i> San Fransico, CA</div>
      </div>
    </div>
    <div class="demo-avatar-dropdown">
      <span>lorum@ipsum.com</span>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons f14">menu</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <li class="mdl-menu__item">Menu item</li>
        <li class="mdl-menu__item">Menu item 2</li>
        <li class="mdl-menu__item">Menu item 3</li>
      </ul>
    </div>
  </header>

  <ul ml-menu close-others="false" class="demo-navigation mdl-navigation">
    <ml-menu-item>
      <a class="mdl-navigation__link" href="#/dashboard"><i class="mdl-color-text--blue-grey-400 material-icons">dashboard</i>Dashboard</a>
    </ml-menu-item>
    </ml-menu-item>
    <ml-menu-group path="ui-elements">
      <ml-menu-group-heading>
        <i class="mdl-color-text--blue-grey-400 material-icons">photo</i>Example
      </ml-menu-group-heading>
      <ml-menu-item><a class="mdl-navigation__link" href="#/example/one">Example 1</a></ml-menu-item>
      <ml-menu-item><a class="mdl-navigation__link" href="#/example/two">Example 2</a></ml-menu-item>
      <ml-menu-item><a class="mdl-navigation__link" href="#/example/three">Example 3</a></ml-menu-item>
    </ml-menu-group>

  </ul>
</div>