<section>

  <div class="mdl-color--blue-grey-600 ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Navigations</h3>
      <h4 class="mdl-color-text--blue-grey-50 m-b-20 no-m-t w100">Navigation variations based on MDL</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3><i class=" material-icons f-left m-r-5">dvr</i> Navigations</h3>
          <p>Please check the source code for more information</p>
          <div class="m-t-30">
            <ul class="list-bordered">
              <li><a href="http://www.getmdl.io/components/index.html#layout-section/layout" target="_blank" class="mdl-color-text--blue-grey">
                <i class="material-icons m-r-5 f11">save</i>
                MDL documentation
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 navigations-container relative">

        <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-shadow--0dp" style="background: url('img/photos/2.jpg') center / cover;">
          <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">Title</span>
              <!-- Add spacer, to align navigation to the right -->
              <div class="mdl-layout-spacer"></div>
              <!-- Navigation -->
              <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
              </nav>
            </div>
          </header>
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
            </nav>
          </div>
          <main class="mdl-layout__content mh-100">
          </main>
        </div>

        <br/><br/>


         <div class="demo-layout-waterfall mdl-layout mdl-js-layout mdl-shadow--0dp ">
          <header class="mdl-layout__header mdl-layout__header--waterfall mdl-color--blue-600">
            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">Title</span>
              <div class="mdl-layout-spacer"></div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                    mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="waterfall-exp">
                  <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" name="sample"
                         id="waterfall-exp" />
                </div>
              </div>
            </div>
            <!-- Bottom row, not visible on scroll -->
            <div class="mdl-layout__header-row">
              <div class="mdl-layout-spacer"></div>
              <!-- Navigation -->
              <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
              </nav>
            </div>
          </header>
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
              <a class="mdl-navigation__link" href="">Link</a>
            </nav>
          </div>
          <main class="mdl-layout__content mdl-color--white">
            <div class="page-content mh-100"><!-- Your content goes here --></div>
          </main>
        </div>


        <br/><br/>

        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-shadow--0dp">
          <header class="mdl-layout__header ">
            <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">Title</span>
            </div>
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
              <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
              <a href="#scroll-tab-2" class="mdl-layout__tab">Tab 2</a>
              <a href="#scroll-tab-3" class="mdl-layout__tab">Tab 3</a>
              <a href="#scroll-tab-4" class="mdl-layout__tab">Tab 4</a>
              <a href="#scroll-tab-5" class="mdl-layout__tab">Tab 5</a>
              <a href="#scroll-tab-6" class="mdl-layout__tab">Tab 6</a>
            </div>
          </header>
          <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
          </div>
          <main class="mdl-layout__content mdl-color--white mh-100">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
              <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-2">
              <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-3">
              <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-4">
              <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-5">
              <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-6">
              <div class="page-content"><!-- Your content goes here --></div>
            </section>
          </main>
        </div>


      </div>
    </div>

  </div>

</section>